  <!-- Contacto cards -->
  <section id="contacto">
    <div class="container justify-content-center">
      <div class="text-center">
        <h2>Contact</h2>
      </div>
      <form id="formularioContacto">       
        <div class="form-group my-4">
          <label for="formNameInput"><h5>Nombre</h5></label>
          <input type="text" class="form-control" id="formNameInput" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group my-4">
          <label for="formTitleInput"><h5>Asunto</h5></label>
          <input type="text" class="form-control" id="formTitleInput" placeholder="Ingrese asunto">
        </div>
        
        <div class="form-group my-4">
          <label for="formContentInput"><h5>Mensaje</h5></label>
          <textarea class="form-control" id="formContentInput" placeholder="Ingrese mensaje" rows="12"></textarea>
        </div>
      <button id="btnContacto" type="submit" class="btn text-light-grey bg-dark-purple">Enviar</button>
      </form>
    </div>
  </section>

 